* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-image: url("./img/centro-historico-back.jpg");
    background-size: cover;
    max-height: 90vh;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
} 

header h1 {
    font-size: 9vw;
    text-shadow: 1px 1px 9px rgb(33, 33, 33);
}

header p {
    font-size: 2vw;
    color: whitesmoke;
    letter-spacing: .26em;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    animation: fadeIn 3s;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: .9rem;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5% 10%;
}

/* background-image: linear-gradient(to right, white 60%, rgba(0, 0, 0, 0)); */
/* shape-outside: polygon(30% 0%, 0% 100%, 100% 100%, 100% 0%); */
/* clip-path: polygon(30% 0%, 0% 100%, 100% 100%, 100% 0%); */

.text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    color: #333333;
    margin: 3%;
}

.section img {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: fit-content;
    border-radius: 4px;
    margin: 3%;
}

.section .text p {
    text-indent: 4ch;
    margin: 5px 0;
}

.text h2 {
    margin-bottom: 20px;
    font-size: 25px;
    color: black;
}

.text p {
    line-height: 1.5em;
}

.section:nth-child(2n) {
    background-color: rgb(231, 231, 231);
    flex-direction: row-reverse;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@media screen and (max-width: 1000px) {
    .section, .como-circular, .section:nth-child(2n) {
        flex-direction: column;
    }
    .text {
        text-align: center;
        width: 70%;
    }
    .text h2 {
        text-align: center;
    }

    .text p {
        text-indent: 0;
    }
}