* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-image: url("./img/centro-historico-back.jpg");
    background-size: cover;
    max-height: 90vh;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
} 

header h1 {
    font-size: 9vw;
    text-shadow: 1px 1px 9px rgb(33, 33, 33);
}

header p {
    font-size: 2vw;
    color: #eeeeee;
    letter-spacing: .26em;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    animation: fadeIn 3s;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: .9rem;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 100px 0;
}

/* background-image: linear-gradient(to right, white 60%, rgba(0, 0, 0, 0)); */
/* shape-outside: polygon(30% 0%, 0% 100%, 100% 100%, 100% 0%); */
/* clip-path: polygon(30% 0%, 0% 100%, 100% 100%, 100% 0%); */

.intro .intro-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    margin: 5%;
}

.intro img {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: fit-content;
    border-radius: 9px;
}
.intro .intro-text p {
    text-indent: 4ch;
    margin: 5px 0;
}

.como-circular {
    background-color: rgb(195, 104, 0);
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@media screen and (max-width: 1290px) {
    .intro {
        flex-direction: column;
    }
    .intro .intro-text {
        text-align: center;
        width: 70%;
    }
    .intro .intro-text p {
        text-indent: 0;
    }
}