.menu a {
    color: green;
    text-decoration: none;
}

.categoria {
    background-color: #e2e2e2;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

h2 {
    font-weight: 400;
    font-size: medium;
    width: max-content;
    padding: 10px;
    margin-left: 10px;
}

.categoria:nth-child(2n+1) > h2 {
    background-color: yellow;
}

.categoria:nth-child(2n) > h2 {
    background-color: orange;
}